body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #333;
}

/* ----- general ----- */
button {
    cursor: pointer;
}

/* ----- tags ----- */
.tag-input {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}

.tags {
    margin: 1.0em 0;
    line-height: 2.0em;
}

.tag {
    background-color: #e3e3e3;
    color: #000000;
    padding: 2pt 4pt;
    font-size: 11pt;
    white-space: pre;
}

.removable-tag:hover {
    cursor: pointer;
}