input[type="text"], input[type="password"] {
    width: 100%;
    font-size: 1.0em;
    box-sizing: border-box;
}

.rounded {
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    padding: 0.5em;
    margin-bottom: 0.7em;
}

.clickable {
    cursor: pointer;
}

button {
    cursor: pointer;
}

button[type="submit"] {
    width: 100%;
    color: #ffffff;
    background-color: #2bc266;
    border: none;
    padding: 0.5em 1.0em;
    font-size: 11pt;
    font-weight: bold;
}
