:root {
    --photogrid-scale: 11px;
}

@media (max-width: 700px) {
    :root {
        --photogrid-scale: 7px;
    }
}

/* general styles */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
}

h1, h2, b {
    font-weight: 600;
}

.close-button {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    border: none;
    background: none;
    font-size: 24pt;
    z-index: 1;
}

/* ----- layout ----- */
main {
    max-width: 100rem;
    margin: auto;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 75%);
    color: #ffffff;
    box-sizing: border-box;
    z-index: 2;
    padding: 0 1.0em;
    transition: 0.3s;
}

nav button {
    position: relative;
    border: none;
    background: none;
    color: #ffffff;
    font-size: 11pt;
    font-family: inherit;
    font-weight: 600;
    margin: 0 1.0em;
}

nav button:hover {
    color: #cacaca;
}

.dropdown {
    min-width: 8em;
    background-color: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown li {
    padding: 1.0em;
    text-align: right;
}

.dropdown li:hover {
    background-color: #f1f1f1;
}

.dropdown a, .dropdown a:visited {
    color: #000000;
    text-decoration: none;
}

#nav-more:hover .dropdown {
    display: inline-block;
}

#logo {
    padding: 0.6em;
    margin-right: auto;
}

#logo img {
    display: block;
    height: 32px;
}

#logo #logo-icon { display: none; }
@media (max-width: 700px) {
    #logo #logo-icon { display: initial; }
    #logo #logo-full { display: none; }
}

.vert-align {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 720px) {

    /* hide button text, just show an icon */
    .vert-align span:nth-child(2) {
        display: none;
    }

    nav button {
        margin: 0;
    }
        
}

/* ----- photogrid stuff ----- */
#collection-name, #num-posts {
    text-align: center;
}

#collection-name {
    font-size: 2.0em;
    font-weight: normal;
    margin-bottom: 0;
}

#num-posts {
    font-size: 1.1em;
    opacity: 50%;
    margin: 0;
}

#add-reddit-button {
    display: block;
    margin: auto;
    margin-top: 1.0em;
    border: none;
    border-radius: 5px;
    background-color: #2bc266;
    color: #ffffff;
    font-family: inherit;
    font-size: 1.0em;
    font-weight: 600;
    padding: 0.5em;
}

#photogrid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.0em;
    font-size: var(--photogrid-scale);
}

.photogrid-item {
    position: relative;
    margin: 2px;
    min-width: 0;
    background-color: #cacaca;
}

.photogrid-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: 0.3s;
}

.duration {
    text-shadow: 1px 1px 3px #000;
    color: #ffffff;
    position: absolute;
    bottom: 0.3em;
    right: 0.3em;
    font-weight: 600;
    font-size: 14pt;
}

.video-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.video-preview-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0%;
    background-image: linear-gradient(to right, #00b3ff, #00f2ff);
    transition: 0.1s;
}

/* background for modals/slideshow */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* has to be percent or the scrollbar will clip part of the editor */
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 80%);
    display: flex;
    z-index: 2;
}

#status-text {
    text-align: center;
    opacity: 75%;
    font-size: 16pt;
}

/* ----- dialogs ----- */
.dialog-outer {
    max-width: 29em;
    flex-grow: 1;
    margin: auto;
    padding: 1.0em;
}

.dialog {
    position: relative;
    background-color: #ffffff;
    padding: 1.5em;
    border-radius: 5px;
}

/* ----- tags ----- */
.tags {
    margin: 0.5em 0;
}

.tag {
	padding: 4px 8px;
    margin: 3px 0;
    border: 1px solid #aaaaaa;
    color: #333;
    border-radius: 16px;
    font-size: 11pt;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}

.tag.selected {
	border: 1px solid #1f92ff;
    background-color: #1f92ff;
    color: #ffffff;
}

/* ----- upload progress ----- */
#upload-progress .dialog-outer {
    max-width: 40em;
}

#progress {
    height: 20em;
    overflow: auto;
    padding: 1.0em;
    border: 1px solid #aaaaaa;
}

#progress div {
    margin: 1.0em 0;
}

#progress div progress {
    width: 100%;
    transition: 0.5s;
}

.upload-status {
    color: #aaaaaa;
    float: right;
    padding-left: 1.0em;
}

.retry-button:hover {
    text-decoration: underline;
}

.progress-bar {
    display: block;
    background-color: #cacaca;
    border-radius: 6px;
}

.progress-bar div {
    width: 0;
    background-color: #3480eb;
    height: 6px;
    transition: 0.3s;
    border-radius: inherit;
}

.processing-progress div {
    background-color: #4ec268;
}

/* ----- photo editor ----- */
#slideshow {
    overflow: hidden;
    background-color: #111;
    z-index: 3;
}

#slideshow-content {
    
    /* positioning */
    position: absolute;
    top: 0;
    left: 0;

    /* make it occupy full container, */
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

}

.slideshow-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(8px);
    z-index: -1;
}

@media (pointer: coarse) {
    .slideshow-bg {
        display: none;
    }
}

.no-scrollbar {
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.slideshow-frame {
    display: flex;
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 100vw;
    height: 100vh;
    margin-right: 1.0em;
    position: relative;
    pointer-events: none;
}

.slideshow-centered, .video-player {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    pointer-events: initial;
}

.video-player {
    position: relative;
}

.video-player video {
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
}

.video-picker {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.video-picker button {
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: inherit;
    font-size: 14pt;
    color: #ffffff;
    width: 3rem;
    height: 2.1rem;
    padding: 0;
    background-image: linear-gradient(to bottom right, #00b3ff, #00f2ff);
}

#delete-button {
    border: none;
    background-color: #ff3d3d;
    color: #ffffff;
    padding: 0.5em 1.0em;
    border-radius: 5px;
    font-weight: 600;
    font-family: inherit;
    font-size: 1.0em;
}

/* ----- homepage ----- */
#collections {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 2.0em;
}

#collections-end {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 50%;
    cursor: pointer;
}

.hidden {
    display: none;
}

.show-hidden .hidden {
    display: initial;
}

/* display correct label based on state */
#hide-hidden-text { display: none; }
.show-hidden #hide-hidden-text { display: initial; }
.show-hidden #show-hidden-text { display: none; }

@media (max-width: 700px) {
    #collections {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        padding: 0;
    }
}

.collection-preview {
    flex-basis: 15em;
    margin: 0.75em;
}

.collection-preview img {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.collection-preview span { display: block; }

.collection-title {
    font-size: 15pt;
    font-weight: 600;
    overflow-wrap: break-word;
}

.post-count {
    font-size: 12pt;
    font-weight: normal;
    opacity: 60%;
}

/* ----- upload indicator ----- */
#upload-indicator {
    background-color: #32a852;
    color: #ffffff;
    border-radius: 5px;
    padding: 0.5em 0.75em;
    font-weight: 600;
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
}

/* ----- post editor ----- */
#post-editor {
    position: absolute;
    width: 17em;
    height: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    top: 0;
    left: -17em;
    padding: 1.5em;
    transition: 0.3s;
}

#post-editor.shown {
    left: 0;
}

/* hide one of the icons depending on whether the post editor is going left or right */
#post-editor .button-hide { display: none; }
#post-editor.shown .button-show { display: none; }
#post-editor.shown .button-hide { display: initial; }

#post-editor #handle {
    position: absolute;
    left: 99%; /* prevent a 1px gap on safari */
    top: 2.0em;
    background-color: #ffffff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 1.0em 0.25em;
}

#editor-preview {
    height: 10em;
    width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

#post-editor h1 {
    font-size: 1.5em;
    margin-top: 0;
}

@media (max-width: 600px) {
    
    #post-editor .desktop, #post-editor.shown .desktop { display: none; }

    #post-editor {
        top: 100%;
        width: 100%;
        height: unset;
        left: unset;
    }

    #post-editor.shown {
        transform: translateY(-100%);
    }

    #post-editor #handle {
        width: 6.0em;
        left: calc(50% - 3.0em);
        bottom: 99%; /* prevent a 1px gap on safari */
        top: unset;
        border-radius: 5px 5px 0 0;
        padding: 1.0em 0;
    }

}

@media (min-width: 600px) {
    #post-editor .mobile, #post-editor.shown .mobile { display: none; }
}

/* ----- filter ----- */
#filter-container {
    max-height: 80vh;
    overflow: auto;
}

.tag-count {
    opacity: 50%;
}