/* general styles */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
}

button, .clickable {
    cursor: pointer;
}

h1, h2, b {
    font-weight: 600;
}

.close-button {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    border: none;
    background: none;
    font-size: 24pt;
    z-index: 1;
}

.rounded {
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    padding: 0.5em;
    margin-bottom: 0.7em;
}

input[type="text"] {
    width: 100%;
    font-size: 1.0em;
    box-sizing: border-box;
}

/* ----- layout ----- */
main {
    max-width: 95em;
    margin: auto;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 80%);
    color: #ffffff;
    align-items: center;
    box-sizing: border-box;
    z-index: 1;
    padding: 0 1.0em;
}

header button {
    border: none;
    background: none;
    color: #ffffff;
    font-size: 11pt;
    font-family: inherit;
    font-weight: 600;
    margin: 0 1.0em;
}

header button:hover {
    color: #cacaca;
}

#logo {
    padding: 0.5em;
    margin-right: auto;
}

#logo img {
    height: 32px;
}

.vert-align {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 600px) {

    /* hide button text, just show an icon */
    .vert-align span:last-child {
        display: none;
    }

    header button {
        margin: 0;
    }
    
    header button:last-child {
        margin-right: 1.0em;
    }
        
}

/* ----- photogrid stuff ----- */
#collection-name, #num-posts {
    text-align: center;
}

#collection-name {
    font-size: 2.0em;
    font-weight: normal;
    margin-bottom: 0;
}

#num-posts {
    font-size: 1.1em;
    opacity: 50%;
    margin: 0;
}

#photogrid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.0em;
    font-size: 10px;
}

.photogrid-item {
    position: relative;
    margin: 2px;
    min-width: 0;
}

.photogrid-item img {
    width: 100%;
    height: auto;
    display: block;
}

.duration {
    text-shadow: 1px 1px 3px #000;
    color: #ffffff;
    position: absolute;
    bottom: 0.3em;
    right: 0.3em;
    font-weight: 600;
    border-radius: 5px;
    z-index: 1;
    font-size: 14pt;
}

.video-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* background for modals/slideshow */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* has to be percent or the scrollbar will clip part of the editor */
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 80%);
    display: flex;
    z-index: 1;
}

#status-text {
    text-align: center;
    opacity: 75%;
    font-size: 16pt;
}

/* ----- dialogs ----- */
.dialog-outer {
    max-width: 29em;
    flex-grow: 1;
    margin: auto;
    padding: 1.0em;
}

.dialog {
    position: relative;
    background-color: #ffffff;
    padding: 1.5em;
    border-radius: 5px;
}

/* ----- upload ----- */
#upload-button, #create-button {
    width: 100%;
    color: #ffffff;
    background-color: #2bc266;
    border: none;
    padding: 0.5em 1.0em;
    font-size: 11pt;
    font-weight: bold;
}

/* ----- tags ----- */
.tags {
    margin: 0.5em 0;
}

.tag {
	padding: 4px 8px;
    margin: 3px 0;
    border: 1px solid #aaaaaa;
    color: #333;
    border-radius: 16px;
    font-size: 11pt;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}

.tag.selected {
	border: 1px solid #1f92ff;
    background-color: #1f92ff;
    color: #ffffff;
}

/* ----- upload progress ----- */
#progress {
    height: 20em;
    overflow: auto;
    padding: 1.0em;
    border: 1px solid #aaaaaa;
}

#progress div {
    margin: 1.0em 0;
}

#progress div progress {
    width: 100%;
    transition: 0.5s;
}

.upload-status {
    color: #aaaaaa;
    float: right;
    padding-left: 1.0em;
}

.retry-button:hover {
    text-decoration: underline;
}

.progress-bar {
    display: block;
    background-color: #cacaca;
    border-radius: 6px;
}

.progress-bar div {
    width: 0;
    background-color: #3480eb;
    height: 6px;
    transition: 0.3s;
    border-radius: inherit;
}

/* ----- photo editor ----- */
#slideshow {
    overflow: hidden;
    background-color: #111;
}

#slideshow-content {
    
    /* positioning */
    position: absolute;
    top: 0;
    left: 0;

    /* make it occupy full container, */
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

}

.no-scrollbar {
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.slideshow-frame {
    display: flex;
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 100vw;
    height: 100vh;
    margin-right: 1.0em;
    position: relative;
    pointer-events: none;
}

.slideshow-frame img, .slideshow-frame video {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    pointer-events: initial;
}

#delete-button {
    border: none;
    background-color: #ff3d3d;
    color: #ffffff;
    padding: 0.5em 1.0em;
    border-radius: 5px;
    font-weight: 600;
    font-family: inherit;
    font-size: 1.0em;
}

/* ----- homepage ----- */
#collections {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
}

/* two columns on mobile vertical */
@media (max-width: 600px) {
    #collections {
        grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));  
    }
}

.collection-preview {
    flex-basis: 15em;
    margin: 1.0em;
}

.collection-preview .img-outer {
    position: relative;
    width: 100%;
    height: 12em;
}

.collection-preview .img-outer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.collection-preview .img-outer .preview-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection-preview img:before {
    filter: blur(8px);
}

.collection-preview span { display: block; }

.collection-title {
    font-size: 1.5em;
    padding-top: 0.3em;
    font-weight: 600;
    overflow-wrap: break-word;
}

.post-count {
    font-size: 1.1em;
    font-weight: normal;
    opacity: 60%;
}

/* ----- upload indicator ----- */
#upload-indicator {
    background-color: #32a852;
    color: #ffffff;
    border-radius: 5px;
    padding: 0.5em 0.75em;
    font-weight: 600;
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
}

/* ----- post editor ----- */
#post-editor {
    position: absolute;
    width: 17em;
    height: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    top: 0;
    left: -17em;
    padding: 1.5em;
    transition: 0.3s;
}

#post-editor.shown {
    left: 0;
}

/* hide one of the icons depending on whether the post editor is going left or right */
#post-editor .button-hide { display: none; }
#post-editor.shown .button-show { display: none; }
#post-editor.shown .button-hide { display: initial; }

#post-editor #handle {
    position: absolute;
    left: 99%; /* prevent a 1px gap on safari */
    top: 2.0em;
    background-color: #ffffff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 1.0em 0.25em;
}

#editor-preview {
    max-height: 13em;
    max-width: 100%;
    width: auto;
    display: block;
}

#post-editor h1 {
    font-size: 1.5em;
    margin-top: 0;
}

@media (max-width: 600px) {
    
    #post-editor .desktop, #post-editor.shown .desktop { display: none; }

    #post-editor {
        top: 100%;
        width: 100%;
        height: unset;
        left: unset;
    }

    #post-editor.shown {
        transform: translateY(-100%);
    }

    #post-editor #handle {
        width: 6.0em;
        left: calc(50% - 3.0em);
        bottom: 99%; /* prevent a 1px gap on safari */
        top: unset;
        border-radius: 5px 5px 0 0;
        padding: 1.0em 0;
    }

}

@media (min-width: 600px) {
    #post-editor .mobile, #post-editor.shown .mobile { display: none; }
}