/* general styles */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
}

button, .clickable {
    cursor: pointer;
}

h1, h2, b {
    font-weight: 600;
}

.close-button {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    border: none;
    background: none;
    font-size: 24pt;
}

.rounded {
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    padding: 0.5em;
    margin-bottom: 0.7em;
}

input[type="text"] {
    width: 100%;
    font-size: 1.0em;
    box-sizing: border-box;
}

/* ----- layout ----- */
#center-column {
    max-width: 80em;
    padding: 1.0em;
    margin: auto;
}

#header {
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 80%);
    color: #ffffff;
    align-items: center;
    box-sizing: border-box;
}

#header-inner {
    max-width: 80em;
    margin: auto;
    display: flex;
}

#header-inner button {
    border: none;
    background: none;
    color: #ffffff;
    font-size: 11pt;
    font-weight: bold;
    margin: 0 1.0em;
}

#header-inner button:hover {
    color: #cacaca;
}

#logo {
    padding: 0.5em;
    margin-right: auto;
}

#logo img {
    height: 32px;
}

.vert-align {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 600px) {

    /* hide button text, just show an icon */
    .vert-align span:last-child {
        display: none;
    }

    #header-inner button {
        margin: 0;
    }
    
    #header-inner button:last-child {
        margin-right: 1.0em;
    }
        
}

/* ----- photogrid stuff ----- */
#photogrid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.0em;
}

#photogrid img {
    margin: 2px;
    min-width: 0;
}

/* background for modals/slideshow */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* has to be percent or the scrollbar will clip part of the editor */
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 75%);
    display: flex;
    z-index: 1;
}

/* ----- dialogs ----- */
.dialog-outer {
    max-width: 29em;
    flex-grow: 1;
    margin: auto;
    padding: 1.0em;
}

.dialog {
    position: relative;
    background-color: #ffffff;
    padding: 1.5em;
    border-radius: 5px;
}

/* ----- upload ----- */
#upload-button, #create-button {
    width: 100%;
    color: #ffffff;
    background-color: #2bc266;
    border: none;
    padding: 0.5em 1.0em;
    font-size: 11pt;
    font-weight: bold;
}

/* ----- tags ----- */
.tags {
    display: inline-block;
    margin-bottom: 1.0em;
    line-height: 2.0em;
}

.tag {
    background-color: #e3e3e3;
    color: #000000;
    padding: 2pt 4pt;
    font-size: 11pt;
    white-space: pre;
}

.tag-picker {
    position: absolute;
    top: 2.0em;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 8em;
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

.tag-picker div {
    padding: 0 0.5em;
    border-bottom: 1px solid #aaaaaa;
}

.tag-option:hover {
    background-color: #e9e9e9;
}

/* ----- upload progress ----- */
#progress {
    height: 20em;
    overflow: auto;
    padding: 1.0em;
    border: 1px solid #aaaaaa;
}

#progress div {
    margin: 1.0em 0;
}

#progress div progress {
    width: 100%;
    transition: 0.5s;
}

.upload-status {
    color: #aaaaaa;
    float: right;
    padding-left: 1.0em;
}

.retry-button:hover {
    text-decoration: underline;
}

/* ----- photo editor ----- */
#slideshow {
    flex-direction: row;
}

#editor {
    flex-basis: 15em;
    flex-grow: 0;
    background-color: #ffffff;
    padding: 1.0em;
    display: none; /* TMP */
}

#slideshow-content {
    display: flex;
    flex-grow: 1;
}

/* styling for replaced elements */
.slideshow-replaced {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#delete-button {
    border: none;
    background-color: #ff3d3d;
    color: #ffffff;
    padding: 0.5em 1.0em;
    border-radius: 5px;
    font-weight: bold;
}

/* ----- homepage ----- */
#collections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.collection-preview {
    flex-basis: 15em;
    margin: 1.0em;
}

.collection-preview img {
    width: 15em;
    height: 15em;
    border-radius: 10px;
    object-fit: cover;
}

.collection-preview span { display: block; }

.collection-title {
    font-size: 1.5em;
    font-weight: 500;
}

.post-count {
    font-size: 1.1em;
    font-weight: normal;
    opacity: 60%;
}