body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

#content-outer {
    max-width: 27em;
    margin: auto;
    padding: 1.0em;
}

#content {
    max-width: 25em;
    background-color: #ffffff;
    padding: 1.5em;
    border-radius: 5px;
}

h1, h2 {
    font-weight: 500;
}
